body {
    font-family: sans-serif;
    background-size: cover;
    background-color: #9DD9D2;
}
section {
    width:90%;
    background-color:#9DD9D2;
}

h1 {
    font-family: serif;
    text-align: left;
    color: #353535;
    background-color: #79BCB8;
    font-size: 35px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-color: #79BCB8; 
    padding: 4px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
    overflow: hidden;
  background-color: #353535;
    border: 1px solid black;
    height: 100px;
}

li a {
  display: block;
  color: #000;
  padding: 40px 16px;
  text-decoration: none;
    text-align: bottom;
    float: left;
        border-right: 1px solid #353535;
       height: 100px;
}
li a.active {
  background-color: blue;
  color: white;
}
li a:hover {
  background-color: #5D5E60;
  color: white;
    animation-duration: 200ms;
    transition: 300ms;
}
a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}
.flexmenu {
    width: 100%;
    background-color: #353535;
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    padding-left: 0px;
    text-align: center;
}
.flexmenuitem {
    background-color: #353535;
    box-sizing: border-box;
}

.top {
    width: 100%;
    background-color: red;
    display: flex;
}
.heading {
    width: 100%;
    background-color:;
    height: 144px;
}
.content {
    width: 100%;
    background-color:;
}
.top section {
    min-width: 200px;
    margin-top: 0px;
    padding-top: 0px;
}
.top nav {
    width: 100%;
}